h1, h2, p {
  font-family: Verdana;
}

body {
  background-color: black;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  font-color: white;
}

h2 {
  text-align: center;
  font-color: white;
}

p {
  font-size: 21px;
  color: Gray;
}

.cta {
  color: Aquamarine;
  font-size: 16px;
}

.footer {
  color: gray;
  text-align: right;
}
