h1, h2, p {
  font-family: Verdana;
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  color: white;
  display: block;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: white;
  font-size: 42px;
  display: block;
  font-weight: bold;
}

p {
  font-size: 21px;
  color: Gray;
}

video {
  object-fit: contain;
}

.cta {
  color: Aquamarine;
  font-size: 16px;
}

.footer {
  color: gray;
  text-align: right;
}
